.MultiForm{
    width:100%;
    display:grid;
    place-items: center;
    
}
.MultiForm-form{
    margin-top:10vh;
    border:2px solid rgba(0,0,0,0.5);
    padding:30px;
    width:500px;
}
.MultiForm-form input{
    margin:5px 0;
    border:1px solid blue;
}
.MultiForm-form input:focus{
    border:1px solid green;
}
.MultiForm-form button{
    border:2px solid rgb(101, 101, 224);
    background:none;
    padding:10px;
    border-radius: 10px;
    margin:5px;
    cursor: pointer;
    color:rgb(101, 101, 224);
}
.MultiForm-form button:hover{
    border:2px solid green;
}